.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid #544D55;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: #5B5B5B;
}
h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 68px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #544D55;
  position: fixed;
  width: 100%;
  z-index: 5;
  color: white;
  padding: 10px 20px;
}
nav .main-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .main-nav-items .nav-log-in {
  color: white;
  font-size: 2rem;
  text-decoration: none;
}
nav .main-nav-items .nav-log-in:hover {
  text-decoration: underline;
}
@media (max-width: 450px) {
  nav .main-nav-items .nav-log-in {
    font-size: 1.5rem;
  }
}
nav .main-nav-items .nav-sign-up {
  background: #544D55;
  border: 2px solid white;
  color: white;
  font-size: 2.2rem;
  padding: 9px 20px;
  border-radius: 5px;
  transition: all 0.3s;
  background: white;
  border: 2px solid #544D55;
  color: #544D55;
  margin-left: 20px;
}
@media (max-width: 450px) {
  nav .main-nav-items .nav-sign-up {
    font-size: 1.8rem;
  }
}
nav .main-nav-items .nav-sign-up:hover {
  color: #544D55;
  background-color: white;
  border-color: #544D55;
}
nav .main-nav-items .nav-sign-up:focus {
  outline: none;
}
nav .main-nav-items .nav-sign-up:active {
  transform: scale(0.99);
}
@media (max-width: 450px) {
  nav .main-nav-items .nav-sign-up {
    font-size: 1.5rem;
    padding: 10px 9px;
  }
}
nav .main-nav-items .nav-sign-up:hover {
  color: white;
  background-color: #544D55;
  border-color: white;
}
nav .main-nav-items p {
  margin-left: 15px;
  font-size: 3.6rem;
}
@media (max-width: 700px) {
  nav .main-nav-items p {
    font-size: 2.6rem;
  }
}
@media (max-width: 450px) {
  nav .main-nav-items p {
    font-size: 1.5rem;
    font-weight: 700;
  }
}
.menu-button {
  cursor: pointer;
}
.menu {
  position: fixed;
  top: 67px;
  left: -351px;
  width: 350px;
  height: 100vh;
  background-color: #544D55;
  color: white;
  border-left: none;
  border-bottom: none;
  z-index: 9;
  transition: all 0.5s;
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}
.menu--open {
  left: 0;
}
.landing-page header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing-page header .text-content {
  width: 29%;
}
.landing-page header .text-content h1 {
  font-weight: 700;
  font-size: 5rem;
}
.landing-page header .text-content p {
  font-size: 3rem;
  line-height: 1.2;
}
@media (max-width: 700px) {
  .landing-page header .text-content {
    display: none;
  }
}
.landing-page header .image-content {
  width: 69%;
}
.landing-page header .image-content img {
  width: 100%;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
@media (max-width: 700px) {
  .landing-page header .image-content {
    display: none;
  }
}
.landing-page .about {
  width: 60%;
  margin: 30px auto;
  padding: 0 20px;
  border-left: 1px solid #5B5B5B;
  border-right: 1px solid #5B5B5B;
  text-align: center;
}
@media (max-width: 700px) {
  .landing-page .about {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    border: none;
  }
}
.landing-page .about h2 {
  margin-bottom: 1.5rem;
}
@media (max-width: 700px) {
  .landing-page .about h2 {
    font-size: 3.6rem;
  }
}
.landing-page .about p {
  font-size: 2rem;
  text-align: left;
  line-height: 2.5rem;
}
.landing-page .features {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #5B5B5B;
  margin-bottom: 40px;
}
.landing-page .features .feature-image {
  width: 49%;
}
@media (max-width: 700px) {
  .landing-page .features .feature-image {
    width: 98%;
    margin: 15px auto;
  }
}
.landing-page .features .feature-image img {
  width: 100%;
}
.landing-page .features .feature-blurb {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 700px) {
  .landing-page .features .feature-blurb {
    flex-direction: column;
  }
}
.landing-page .features .feature-blurb .feature-text {
  width: 49%;
}
@media (max-width: 700px) {
  .landing-page .features .feature-blurb .feature-text {
    width: 98%;
  }
}
.landing-page .features .feature-blurb .feature-text h2 {
  margin-bottom: 15px;
}
.landing-page .features .feature-blurb .feature-text p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.landing-page .features .feature-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 700px) {
  .landing-page .features .feature-reverse {
    flex-direction: column;
  }
}
.landing-page .sign-up h2 {
  margin: 20px auto;
  text-align: center;
}
.landing-page .sign-up .sign-up-button {
  display: block;
  border: none;
  margin: auto;
  text-decoration: none;
  background: #544D55;
  color: white;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.landing-page .sign-up .sign-up-button:hover,
.landing-page .sign-up .sign-up-button:focus {
  background: #6e6570;
}
.landing-page .sign-up .sign-up-button:focus {
  outline: none;
}
.landing-page .sign-up .sign-up-button:active {
  transform: scale(0.99);
}
.landing-page .sign-up .log-in-button {
  background: white;
  border: 2px solid #544D55;
  display: block;
  margin: auto;
  color: #544D55;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  transition: all 0.3s;
}
@media (max-width: 450px) {
  .landing-page .sign-up .log-in-button {
    font-size: 1.8rem;
  }
}
.landing-page .sign-up .log-in-button:hover {
  color: white;
  background-color: #544D55;
  border-color: #544D55;
}
.landing-page .sign-up .log-in-button:focus {
  outline: none;
}
.landing-page .sign-up .log-in-button:active {
  transform: scale(0.99);
}
footer {
  font-size: 1.5rem;
  padding: 40px 0 20px 0;
}
footer p {
  text-align: center;
}
.about-page header {
  padding-top: 20px;
}
.about-page header p {
  font-size: 1.8rem;
  line-height: 1.4;
}
.biographies {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.biographies .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  margin: 16px auto 0;
  width: 49%;
}
.biographies .carousel .left-button,
.biographies .carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
  background-color: #544D55;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.biographies .carousel .left-button:hover,
.biographies .carousel .right-button:hover {
  color: #544D55;
  background-color: #fff;
  border: 2px solid #544D55;
}
.biographies .carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.biographies .carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.biographies .carousel img {
  width: 100%;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.biographies .bios {
  width: 49%;
}
.biographies .bios .bio-item {
  display: none;
}
.biographies .bios .bio-item h2 {
  margin-bottom: 10px;
}
.biographies .bios .bio-item p {
  font-size: 1.8rem;
  line-height: 1.3;
}
.biographies .bios .bio-selected {
  display: block;
}
