.button-style button {
  display: block;
  border: none;
  margin: auto;
  text-decoration: none;
  background: #544D55;
  color: white;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button-style button:hover,
.button-style button:focus {
  background: #6e6570;
}
.button-style button:focus {
  outline: none;
}
.button-style button:active {
  transform: scale(0.99);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: #5B5B5B;
}
h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 68px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #544D55;
  position: fixed;
  width: 100%;
  z-index: 5;
  color: white;
  padding: 10px 20px;
}
nav .main-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .main-nav-items button {
  background: #544D55;
  border: 2px solid white;
  color: white;
  font-size: 2.2rem;
  padding: 9px 20px;
  border-radius: 5px;
  transition: all 0.3s;
}
@media (max-width: 380px) {
  nav .main-nav-items button {
    font-size: 1.8rem;
  }
}
nav .main-nav-items button:hover {
  color: #544D55;
  background-color: white;
  border-color: #544D55;
}
nav .main-nav-items button:focus {
  outline: none;
}
nav .main-nav-items button:active {
  transform: scale(0.99);
}
nav .main-nav-items p {
  margin-left: 15px;
  font-size: 3.6rem;
}
@media (max-width: 700px) {
  nav .main-nav-items p {
    font-size: 2.6rem;
  }
}
@media (max-width: 380px) {
  nav .main-nav-items p {
    font-size: 2rem;
  }
}
.menu-button {
  cursor: pointer;
}
.menu {
  position: fixed;
  top: 67px;
  left: -351px;
  width: 350px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #544D55;
  color: white;
  border-left: none;
  border-bottom: none;
  z-index: 9;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
  transition: all 0.5s;
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.menu ul li a {
  text-decoration: none;
  color: white;
}
.menu--open {
  left: 0;
}
.landing-page header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing-page header .text-content {
  width: 29%;
}
.landing-page header .text-content h1 {
  font-weight: 700;
  font-size: 5rem;
}
.landing-page header .text-content p {
  font-size: 3rem;
  line-height: 1.2;
}
@media (max-width: 700px) {
  .landing-page header .text-content {
    display: none;
  }
}
.landing-page header .image-content {
  width: 69%;
}
.landing-page header .image-content img {
  width: 100%;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
@media (max-width: 700px) {
  .landing-page header .image-content {
    display: none;
  }
}
.landing-page .about {
  width: 60%;
  margin: 30px auto;
  padding: 0 20px;
  border-left: 1px solid #5B5B5B;
  border-right: 1px solid #5B5B5B;
  text-align: center;
}
@media (max-width: 700px) {
  .landing-page .about {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
    border: none;
  }
}
.landing-page .about h2 {
  margin-bottom: 1.5rem;
}
@media (max-width: 700px) {
  .landing-page .about h2 {
    font-size: 3.6rem;
  }
}
.landing-page .about p {
  font-size: 2rem;
  text-align: left;
  line-height: 2.5rem;
}
.landing-page .features {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #5B5B5B;
  margin-bottom: 40px;
}
.landing-page .features .feature-image {
  width: 49%;
}
@media (max-width: 700px) {
  .landing-page .features .feature-image {
    width: 98%;
    margin: 15px auto;
  }
}
.landing-page .features .feature-image img {
  width: 100%;
}
.landing-page .features .feature-blurb {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 700px) {
  .landing-page .features .feature-blurb {
    flex-direction: column;
  }
}
.landing-page .features .feature-blurb .feature-text {
  width: 49%;
}
@media (max-width: 700px) {
  .landing-page .features .feature-blurb .feature-text {
    width: 98%;
  }
}
.landing-page .features .feature-blurb .feature-text h2 {
  margin-bottom: 15px;
}
.landing-page .features .feature-blurb .feature-text p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.landing-page .features .feature-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 700px) {
  .landing-page .features .feature-reverse {
    flex-direction: column;
  }
}
.landing-page .sign-up h2 {
  margin: 20px auto;
  text-align: center;
}
.landing-page .sign-up button {
  display: block;
  border: none;
  margin: auto;
  text-decoration: none;
  background: #544D55;
  color: white;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.landing-page .sign-up button:hover,
.landing-page .sign-up button:focus {
  background: #6e6570;
}
.landing-page .sign-up button:focus {
  outline: none;
}
.landing-page .sign-up button:active {
  transform: scale(0.99);
}
.landing-page footer {
  font-size: 1.5rem;
  padding: 40px 0 20px 0;
}
.landing-page footer p {
  text-align: center;
}
