.button-style button {
  display: block;
  border: none;
  margin: auto;
  text-decoration: none;
  background: #544D55;
  color: white;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.button-style button:hover,
.button-style button:focus {
  background: #6e6570;
}
.button-style button:focus {
  outline: none;
}
.button-style button:active {
  transform: scale(0.99);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
  color: #5B5B5B;
}
h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #98ff98;
  color: white;
  padding: 10px 20px;
}
nav p {
  font-size: 3.6rem;
}
.landing-page header {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
}
.landing-page header .text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.landing-page header .text-box .text-content {
  display: inline-block;
}
.landing-page header .text-box .text-content p {
  font-size: 25px;
}
.landing-page header .text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.landing-page header img {
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 0.6;
  -webkit-clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}
.landing-page .about {
  width: 60%;
  margin: 30px auto;
  padding: 0 20px;
  border-left: 1px solid #5B5B5B;
  border-right: 1px solid #5B5B5B;
  text-align: center;
}
.landing-page .about h2 {
  margin-bottom: 1.5rem;
}
.landing-page .about p {
  font-size: 2rem;
  text-align: left;
  line-height: 2.5rem;
}
.landing-page .features {
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #5B5B5B;
  margin-bottom: 40px;
}
.landing-page .features .feature-image {
  width: 49%;
}
.landing-page .features .feature-image img {
  width: 100%;
}
.landing-page .features .feature-blurb {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.landing-page .features .feature-blurb .feature-text {
  width: 49%;
}
.landing-page .features .feature-blurb .feature-text h2 {
  margin-bottom: 15px;
}
.landing-page .features .feature-blurb .feature-text p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.landing-page .features .feature-reverse {
  flex-direction: row-reverse;
}
.landing-page .sign-up h2 {
  margin: 20px auto;
  text-align: center;
}
.landing-page .sign-up button {
  display: block;
  border: none;
  margin: auto;
  text-decoration: none;
  background: #544D55;
  color: white;
  font-size: 2.2rem;
  padding: 15px 50px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.landing-page .sign-up button:hover,
.landing-page .sign-up button:focus {
  background: #6e6570;
}
.landing-page .sign-up button:focus {
  outline: none;
}
.landing-page .sign-up button:active {
  transform: scale(0.99);
}
.landing-page footer {
  font-size: 1.5rem;
  padding: 40px 0 20px 0;
}
.landing-page footer p {
  text-align: center;
}
