.landing-page {
    header {
        .justify-flex(space-around, center);
        .text-content {
            width: 29%;
            h1 {
                font-weight: 700;
                font-size: 5rem;
            }
            p {
                font-size: 3rem;
                line-height: 1.2;
            }
            @media @mobile {
                display: none;
            }
        }
        .image-content {
            width: 69%;
            img {
                width: 100%;
                -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
                 clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            }
            @media @mobile {
                display: none;
            }
        }
    }
    // header {
    //     position: relative;
    //     display: inline-block;
    //     margin-bottom: 25px;
    //     .text-box {
    //         position: absolute;    
    //         height: 100%;
    //         text-align: center;    
    //         width: 100%;
    //         z-index: 2;
    //         .text-content {
    //             display: inline-block;
    //         }
    //         .text-content p {
    //             font-size: 25px;
    //         }
    //     }
    //     .text-box:before {
    //        content: '';
    //        display: inline-block;
    //        height: 100%;
    //        vertical-align: middle;
    //     }
    //     img {
    //         display: block;
    //         max-width: 100%;
    //         height: auto;
    //         opacity: 0.6;
    //         -webkit-clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    //         clip-path: polygon(100% 0%, 80% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    //       }
    // }// header
    .about {
        width: 60%;
        margin: 30px auto;
        padding: 0 20px;
        border-left: 1px solid @font-color;
        border-right: 1px solid @font-color;
        text-align: center;
        @media @mobile {
            width: 100%;
            text-align: left;
            margin-bottom: 0;
            border: none;
        }
        h2 {
            margin-bottom: 1.5rem;
            @media @mobile {
                font-size: 3.6rem;
            }
        }
        p {
            font-size: 2rem;
            text-align: left;
            line-height: 2.5rem;
        }
    }// .about
    .features {
        width: 90%;
        margin: auto;
        padding-bottom: 40px;
        border-bottom: 1px solid @font-color;
        margin-bottom: 40px;
        .feature-image {
            width: 49%;
            @media @mobile {
                width: 98%;
                margin: 15px auto;
            }
            img {
                width: 100%;
            }
        }
        .feature-blurb {
            .justify-flex(space-around);
            @media @mobile {
                flex-direction: column;
            }
            .feature-text {
                width: 49%;
                @media @mobile {
                    width: 98%;
                }
                h2 {
                    margin-bottom: 15px;
                }
                p {
                    font-size: 1.8rem;
                    line-height: 1.5;
                }
            }
        }// .feature-blurb
        .feature-reverse {
            flex-direction: row-reverse;
            @media @mobile {
                flex-direction: column;
            }
        }
    }// .features
    .sign-up {
        h2 {
            margin: 20px auto;
            text-align: center;
        }
        .button-style();
    }// .sign-up
    footer {
        font-size: 1.5rem;
        padding: 40px 0 20px 0;
        p {
            text-align: center;
        }
    }
}// .landing-page