.justify-flex(@j-content: center, @a-items: center) {
    display: flex;
    justify-content: @j-content;
    align-items: @a-items;
}


.button-style {
    button {
        display: block;
        border: none;
        margin: auto;
        text-decoration: none;
        background: @button-color;
        color: white;
        font-size: 2.2rem;
        padding: 15px 50px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        transition: background 250ms ease-in-out, 
                    transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
    
    button:hover,
    button:focus {
        background: lighten(@button-color, 10%);
    }
    
    button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }
    
    button:active {
        transform: scale(0.99);
    }
}