nav {
    .justify-flex(space-between, center);
    background-color: @button-color;
    position: fixed;
    width: 100%;
    z-index: 5;
    color: white;
    padding: 10px 20px;
    .main-nav-items {
        .justify-flex(center, center);
        button {
            background: @button-color;
            border: 2px solid white;
            color: white;
            font-size: 2.2rem;
            padding: 9px 20px;
            border-radius: 5px;
            transition: all 0.3s;
        }
        button:hover {
            color: @button-color;
            background-color: white;
            border-color: @button-color;
        }
        button:focus {
            outline: none;
        }
        button:active {
            transform: scale(0.99);
        }
        p {
            margin-left: 15px;
            font-size: 3.6rem;
            @media @mobile {
                font-size: 2.6rem;
            }
        }
    }
}