nav {
    .justify-flex(space-between, center);
    background-color: @button-color;
    position: fixed;
    // top: 0;
    width: 100%;
    z-index: 5;
    color: white;
    padding: 10px 20px;
    p {
        font-size: 3.6rem;
    }
}